.sidebar {
    transition: width 0.3s ease-in-out;
    height: 100vh;
    background-color: rgb(10,25,41);
    padding-top: 150px;
    padding-left: 10px;
    position: sticky;
    top: 0;
}
.sideitem {
    display: flex;
    align-items: center;
    padding: 30px 20px;
    cursor: pointer;
    color: #B2BAC2;
    text-decoration: none;
    overflow: hidden;
}
.linkText {
    padding-left: 16px;
    font-size: 25px;
}

.sideitem:hover {
    background-color: #244f7d1c;

}
.header {
    background-color: rgb(10,25,41);
}
.footer {
    color: white;
    background-color: rgb(10,25,41);
    padding: 10px;
}

